body {
    font-family : 'Segoe UI', Arial, Helvetica, sans-serif; /* Tipografía, si la primera no esta, se usa la segunda, así sucesivamente*/
    background-color : #f8f9fa;
    margin : 40px;
    color : #333;
}

table {
    width : 100%; /* anchura relativa */
    max-width : 1000px;
    margin : 0 auto; /* para que quede perfectamente centrado*/
    border-collapse : collapse; /* esto une los bordes de todas las "cajas" de la tabla, de forma que no parecen cajas sueltas*/
    background : white;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* crea una sombra en la caja, x=0, y=4 asi que viene luz de arriba, y 8 es la opacidad. rgba es el
                                            color de la sombra*/
    border-radius : 8px; /* redondea las esquinas, no son perpendiculares*/
    overflow : hidden; /* como las esquinas estan redondeadas, el fondo se sale de los bordes, asi que borramos lo que sobresale*/
}

tr:hover{ /* animacion del cursor cuando este esta encima de un libro */
    background-color : #f1f7ff;
    transition : 0.3s; /* Tiempo en reaccionar*/
}

tr:last-child td{
    border-bottom : none; /* La última tabla no tiene borde de abajo*/
}

td {
    padding : 12px 15px; /* Separa el texto de los bordes, el primero es arriba y abajo, el segundo los laterales*/
    border-bottom : 1px solid #eee; 
    text-align : center;
}

h1 {
    text-align : center;
    color : #2c3e50;
    margin-bottom : 30px; /* Pegamos la tabla hacía abajo*/
}

th {
    background-color : #4d7196;
    color : white; /* Color de las letras*/
    padding : 15px;
    text-transform : uppercase; /* De forma automática se vuelven mayúsculas todas las letras*/
    font-size : 14px /* Como hemos agrandado el título por estar en mayúscula, achicamos un poco su tamaño fuente*/
}